<%= form_for @user do |f| %>

    <%= f.text_field :email, placeholder: "Email Address", :class => "field" %>

    <%= f.text_field :password, placeholder: "Password", :class => "field"%>

    <%= f.text_field :password_confirmation, placeholder: "Confirm Password", :class => "field" %>

    <%= f.submit "SIGN UP", :class => "submit"%>

<% end %>

<% if @user.errors.any? %>
  <ul class="Signup_Errors">
  <% for message_error in @user.errors.full_messages %>
    <li>* <%= message_error %></li>
  <% end %>
  </ul>
<% end %>