<div class="top-border"></div>

  <div class="wrap">

    <header class="full-head">
      <h1>The Sitter Club</h1>
    </header>

    <div class="slider-txt">
        <%= image_tag "head-shot.png", :class => "head-shot" %>
        <p class="page-title">Welcome back <%= @user.family_name %></p>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <% end %>

    <div class="sign-up-login">
      <%= link_to "I need a Sitter", users_search_path, :method => :search, :class =>"submit" %>
      <p>-OR-</p>
      <%= link_to "I am available to Sit",  "/users/#{current_user.id}/timeslots/new", :class => "submit" %>
    </div>


<div>
<% @active_friends.each do |friend| %>
  <p>Available friends in your network:</p>
  <%= friend.family_name %>
<% end  %>
</div>

