<h1>Welcome back <%= @user.family_name %>!</h1>

<div>
<% if current_user %>
  <%= link_to "sign_out", sessions_destroy_path, :method => :delete %>
<% end %>
</div>


<%= link_to "I need a Sitter", users_search_path, :method => :search  %>
<%= link_to "I am free to Sit",  "/users/#{current_user.id}/timeslots/new" %>

<div>
<% @active_friends.each do |friend| %>
  <p>Available friends in your network:</p>
  <%= friend.family_name %>
<% end  %>
</div>

