<h1>I need a Family</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "flash #{name}" %>
<% end %>

<%= render 'timeslot_form' %>
<br>
<p>In case no one have submited, Message all your family</p>
<%= button_to "urgent", users_emergency_path%>

<%if @users%>
  <table style="width:100%">
  <%@users.each do |user|%>
  <tr>
  <th><%= user.family_name%></th>
  <!-- #PUT DE URL -->
  <th><%= button_to "message", users_send_message_path(friend_id: user.id)%></th>
  </tr>
  <%end%>
  </table>
<%end%>