<%= form_for ([:user, @timeslot]) do |f| %>

    <%= f.datetime_local_field :start_time, placeholder: "Start Time",:class => "field" %>

    <%= f.number_field :duration, placeholder: "Duration", :class => "field"%>

    <%= f.number_field :availability, placeholder: "#Children I can sit", :class => "field" %>

    <%= f.submit "ADD", :class => "submit" %>

<% end %>

<% if @timeslot.errors.any? %>
  <ul class="Signup_Errors">
  <% for message_error in @timeslot.errors.full_messages %>
    <li>* <%= message_error %></li>
  <% end %>
  </ul>
<% end %>